.header
    background-color: $main-color
    position: fixed
    left: 0
    top: 0
    width: 100%
    z-index: 2
    &__topbar
        display: flex
        justify-content: space-between
        align-items: center
        height: 50px
    &__shop
        display: flex
    &__register
        margin-right: 30px
    &__login,
    &__signup
        a
            transition: all 0.5s
            color: #fff
            &:hover
                color: #000000b6
    &__basket
        a
            text-decoration: none
            img
                cursor: pointer
    &__menu
        display: flex
        justify-content: space-between
        list-style-type: none
        align-items: center
        height: 50px
        padding: 0
    &__link
        transition: all 0.5s
        text-decoration: none
        color: #000000d5
        &:hover
            color: $main-color
